.main-container{
    width: 100%;
    padding: 20px;
}
.table-conatiner{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}
.header-rows{
    width: 100%;
    background-color: rgb(212, 206, 206);
    display: flex;
    flex-direction: row;
    align-items: center;
}
.data{
    width: 35%;
    font-family: sans-serif;
    color: rgb(16, 15, 15);
    border: 0.5px solid gainsboro;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
    align-items: center;
    font-weight: bold;
}
.rows{
    display: flex;
    width: 100%;
}
.rows-header{
    width: 100%;
}
.rows-row{
    width: 100%;
}
.data-row{
    width: 35%;
    font-family: sans-serif;
    color: rgb(16, 15, 15);
    border: 0.5px solid gainsboro;
    border-top: none;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
    align-items: center;
    margin-top: 0px;
}

.data-delete{
    width: 10%;
    font-family: sans-serif;
    color: rgb(16, 15, 15);
    border: 0.5px solid gainsboro;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
    align-items: center;
}
.data-row-delete{
    width: 10%;
    font-family: sans-serif;
    color: rgb(16, 15, 15);
    border: 0.5px solid gainsboro;
    border-top: none;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
    align-items: center;
    margin-top: 0px;
    
}
.delete-icon{
    margin-left: 20px;
    font-size: 15px;
    color: rgb(4, 69, 47);
    background-color: rgb(154, 234, 190);
    padding: 6px;
    border-radius: 50px;
    cursor: pointer;
}
.pagination-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.prev-page{
    font-family: 'Roboto';
    margin-right: 10px;
    cursor: pointer;
}
.next-page{
    font-family: 'Roboto';
    margin-left: 10px;
    cursor: pointer;
}
.page-no{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(21, 224, 21);
    font-weight: bold;
    font-size: 20px;
}