.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 20px;
}
.horizontal-line {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
}
.main-section-container {
  display: flex;
  width: 100%;
}
@media (max-width:830px){
  .main-section-container{
    flex-direction: column;
    
  }
}
.App-container{
  display: flex;
  flex-direction: column;
  height: 100vh;
}